*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.player-board {
  display: grid;
  grid-template-columns: repeat(11, 3.5rem);
  width: min-content;
  grid-gap: 1px;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.enemy-board {
  display: none;
  grid-template-columns: repeat(10, 3.5rem);
  width: min-content;
  grid-gap: 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.square {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 3.5rem;
  height: 3.5rem;
}

.square:nth-child(-n + 11),
.square:nth-child(11n + 1) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: none;
  border: none;
}

.square.occupied {
  background-color: red;
}
